* {
    background-color:rgb(243, 236, 228);
}

header {
   display: flex;
   justify-content: flex-end;
   padding-right: 30px;
}

nav ul {
    list-style-type: none;
    font-size: 25px;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

a {
    color: rgb(148, 183, 214);
    font-weight: bold;
    text-decoration: none;
}

.header {
    font-weight: normal;
    font-size: 35px;
    color: rgb(121, 116, 116);
}

h2 {
    color: rgb(148, 183, 214);
    font-weight: bold;
}

p {
    color: rgb(121, 116, 116);
    font-size: 20px;
}

.gym {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    float: right;
    margin: 0px 0px 15px 20px;
}

.golf {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    float: right;
    margin: 0px 0px 15px 20px;
}

.poker {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    float: right;
    margin: 0px 0px 15px 20px;
}