* {
    background-color:rgb(243, 236, 228);
}

header {
   display: flex;
   justify-content: flex-end;
   padding-right: 30px;
}

nav ul {
    list-style-type: none;
    font-size: 25px;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

a {
    color: rgb(148, 183, 214);
    font-weight: bold;
    text-decoration: none;
}

.header {
    color: rgb(121, 116, 116);
}

.container {
    display: flex;
    justify-content: center;
}

#form {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: rgb(121, 116, 116);
    font-size: 25px;
    font-weight: bold;
}

#name {
    height: 25px;
}

#email {
    height: 25px;
}

#message {
    height: 75px;
}

#submit {
    height: 20px;
    width: 70px;
    margin-top: 10px;
}