* {
    background-color:rgb(243, 236, 228);
}
header {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 25px;
}

nav li {
    list-style-type: none;
    display: inline-block;
    width: 100px;
}

a {
    color: rgb(148, 183, 214);
    font-weight: bold;
    text-decoration: none;
}

main {
    text-align: center;
    margin-top: 10%;
}

#headshot {
    height: 275px;
    border-radius: 50%;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: rgb(121, 116, 116);
}

#mission {
    font-size: 25px;
    color: rgb(121, 116, 116);
}

#quote {
    font-size: 30px;
    font-style: italic;
    margin-top: 5%;
    color: rgb(121, 116, 116);
}

footer {
    text-align: center;
    margin-top: 4%;
}

#LinkedIn {
    height: 40px;
    padding-right: 10px;
}

#GitHub {
    height: 40px;
}
